APP_PORT=8000
PROJECT_NAME="Ouros GitHub Repository Manager"
PROJECT_DESCRIPTION="API para criar e gerenciar repositorios da organizacao Ouros App no GitHub."
GITHUB_ORG_LOGIN=Ouros-App
GH_TOKEN=ghp_replace_with_your_github_token
TEMPLATE_SUFFIX=-template
DEFAULT_BRANCH=main
GH_TIMEOUT_SECONDS=120
APP_NAME=ms-github-manager
VERSION=0.1.0
SONAR_CLOUD_TOKEN=replace_with_your_sonarcloud_token
