APP_PORT=8000
INFISICAL_PROJECT_ID=18ec444d-221b-46a1-b2a5-65712a27df68
INFISICAL_ENV=prod
INFISICAL_PATH=/ms-github-manager
INFISICAL_TOKEN=
PROJECT_NAME="Ouros GitHub Repository Manager"
PROJECT_DESCRIPTION="API para criar e gerenciar repositorios da organizacao Ouros App no GitHub."
GITHUB_ORG_LOGIN=Ouros-App
TEMPLATE_SUFFIX=-template
DEFAULT_BRANCH=main
GH_TIMEOUT_SECONDS=120
APP_NAME=ms-github-manager
VERSION=0.1.0

AUTH_USERNAME=admin
SESSION_TTL_SECONDS=28800
AUTH_COOKIE_SECURE=true
